body{
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#H1-first{
    color: #1e1f20;
    font-size: 40px;
    border-left: 3px tomato solid;
    padding-left: 7px;
    
}
.color-span{
    color: #f8bd1c;
}
.batton{
    background-color: #f46d1f;
    color: wheat;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    
}
.half img{
    width: 80%;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.Mid{
    clear: left;
    text-align: center;
    font-size: 38px;
    color: #1e1f20;
}
.Mid h1 span{
    color: #f8bd1c;
}
.mission-section img{
        width: 150px;
}
.mission-1{
    background-color: #51535563;
    color: #4d4444;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}
.mission-2{
    background-color: #6aa2da5d;
    color: #4d4444;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}
.mission-3{
    background-color: #f3df866c;
    color: #4d4444;
    border-radius: 5px;
    padding: 10px;
    margin: 20px;
}
.mission-section{
    display: flex;
}
.mission-section h2{
            color: #050505;
}
.half-1{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-1 img{
    width: 80%;
}
.code-sec{
    margin-left: -30px;
}
#bold-code{
    font-size: 50px;
}
.code-id{
    margin-top: 50px;
}
.bild{
    clear: left;
    padding-top: 30px;

}
.hader-h1last{
    clear: left;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}
.hader-h1last span{
    color: #f8bd1c;
}

.footer-end{
    background-color: #07111b;
    color: #fdfdfd;
    text-align: center;
    padding: 50px;
}
#footer-color{
    color: #f46d1f;
}